.container {

  .pokemons-wrapper {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(12, minmax(100px, 1fr));
    gap: 0.5rem;
  }

  @media (max-width: 1670px){
    .pokemons-wrapper {
      grid-template-columns: repeat(10, minmax(100px, 1fr));
    }
  }

  @media (max-width: 1500px){
    .pokemons-wrapper {
      grid-template-columns: repeat(8, minmax(100px, 1fr));
    }
  }

  @media (max-width: 1150px){
    .pokemons-wrapper {
      grid-template-columns: repeat(6, minmax(100px, 1fr));
    }
  }

  @media (max-width: 920px){
    .pokemons-wrapper {
      grid-template-columns: repeat(5, minmax(100px, 1fr));
    }
  }

  @media (max-width: 820px){
    .pokemons-wrapper {
      grid-template-columns: repeat(4, minmax(100px, 1fr));
    }
  }

  @media (max-width: 660px){
    .pokemons-wrapper {
      grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
  }

  @media (max-width: 500px){
    .pokemons-wrapper {
      grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
  }

  .pokemons-wrapper div {
    width: 150px;
    margin: auto;
  }


}
