.container {
  margin: 0.5rem 2rem;

  .search-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .input-search {
      width: 80%;
      margin: auto;
    }

  }

  .pokemons-wrapper {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(5, minmax(250px, 1fr));
    gap: 0.5rem;
  }

  @media (max-width: 1670px){
    .pokemons-wrapper {
      grid-template-columns: repeat(4, minmax(250px, 1fr));
    }
  }

  @media (max-width: 1300px){
    .pokemons-wrapper {
      grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
  }

  @media (max-width: 1010px){
    .pokemons-wrapper {
      grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
  }

  @media (max-width: 730px){
    .pokemons-wrapper {
      grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
  }

  .pokemons-wrapper div {
    width: 300px;
    margin: auto;
  }

}
