@import '../styles.scss';

.header {
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header img {
  width: 80px;
  height: 60px;
}

.body {
  margin: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.footer {
  height: 60px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  color: white;
  background-color: map-get($angular-pokemon-pokedex-primary, 500);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.footer div {
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.body-wrapper {
  min-height: calc(100vh - 70px - 60px);
  height: auto;
  overflow: auto;
}
