<div *ngIf="pokemon && form" >

  <mat-card class="pokemon-container" routerLink="/dashboard/pokemons/{{pokemon.name}}">

      <div class="pokemon-img-container" style="background-color: {{poke.getPokemonTypeColor(pokemon.types[0].type.name)}};">
        <div class="circle">
          <img src="{{form.sprites.front_default}}" alt="">
        </div>
      </div>

      <div class="pokemon-data-container">

        <div class="pokemon-label-container">
          <span class="name">{{pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1)}}</span>
          <span class="id">#{{pokemon.id | number: '3.'}}</span>
        </div>

        <div class="pokemon-type-container">
          <div class="box" *ngFor="let type of pokemon.types" style="background-color: {{poke.getPokemonTypeColor(type.type.name)}};">
            <span>
              {{type.type.name.charAt(0).toUpperCase() + type.type.name.slice(1)}}
            </span>
          </div>
        </div>
    </div>

  </mat-card>

</div>
