<div *ngIf="pokemon" >

  <mat-card class="pokemon-container" routerLink="/pokemons/{{pokemon.name}}">

      <div class="pokemon-img-container" [ngStyle]="{'background-color': poke.getPokemonTypeColor(pokemon.types[0].type.name)}">
        <div class="circle">
          <img src="{{pokemon.sprites.front_default}}" alt="">
        </div>
      </div>

      <div class="pokemon-data-container">

        <div class="pokemon-label-container">
          <span class="name">{{formatPokemonName(pokemon.name)}}</span>
          <span class="id">#{{pokemon.id | number: '3.'}}</span>
        </div>

        <div class="pokemon-type-container">
          <div class="box" *ngFor="let type of pokemon.types" [ngStyle]="{'background-color': poke.getPokemonTypeColor(type.type.name)}">
            <span>
              {{type.type.name.charAt(0).toUpperCase() + type.type.name.slice(1)}}
            </span>
          </div>
        </div>
    </div>

  </mat-card>

</div>
