.container {
  margin: 0.5rem 2rem;
}

.message-wrapper {

  h1, h2, h3 {
    margin: 0;
    padding: 0;
  }

  .title {

  }

  .sub-title {
    margin-top: 0;
    margin-left: 2px;
    color: grey;
  }

}

.services-wrapper {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(12, minmax(100px, 1fr));
  gap: 0.5rem;
  margin: 2rem 2rem;

  .pokebol {
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #28abfd;
    color: white;
    justify-content: center;
    text-align: center;
  }

}
