<div class="container">
  <div class="message-wrapper">
    <h1 class="title">Welcome Pokemon Trainer,</h1>
    <h3 class="sub-title">I see you are looking for information, take a look at our services</h3>
  </div>

  <div class="data-wrapper">
    <!-- card de gerações -->
    <!-- card de pokemons  -->
    <!-- card de items -->
    <!-- card de abilidades -->
  </div>

  <div class="services-wrapper">

    <mat-card *ngFor="let service of services" class="pokebol" routerLink="{{service.link}}">
      <h1>{{service.name}}</h1>
    </mat-card>

  </div>

</div>
