.container {
  margin: 0.5rem 2rem;
}

.message-wrapper {

  h1, h2, h3 {
    margin: 0;
    padding: 0;
  }

  .title {

  }

  .sub-title {
    margin-top: 0;
    margin-left: 2px;
    color: grey;
  }

}

.services-wrapper {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(12, minmax(100px, 1fr));
  gap: 0.5rem;
  margin: 2rem 2rem;

  .pokebol {
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 25px;
    cursor: pointer;
  }

  .pokebol:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .pokebol-up {
    height: 50px;
    width: 100%;
    border-radius: 25px 25px 0 0;
  }

  .pokebol-down {
    width: 100%;
    height: 50px;
    border-radius: 0 0 25px 25px;
  }

  .pokebol-middle {
    width: 100%;
    height: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 10px 30px 35px -12px inset, rgba(0, 0, 0, 0.3) 10px 30px 10px -28px inset;
    display: flex;
    justify-content: center;
    justify-items: center;
    vertical-align: middle;
  }

  .pokebol-middle h3 {
    margin: auto;
  }


}
